# MongoDB
MONGODB_URL=mongodb://localhost:27017
MONGODB_DB=cv_match
MONGODB_COLLECTION_CVS=cvs
MONGODB_COLLECTION_JOB_DESCRIPTIONS=job_descriptions
MONGODB_COLLECTION_EMBEDDINGS_CVS=embeddings_cvs
MONGODB_COLLECTION_EMBEDDINGS_JOB_DESCRIPTIONS=embeddings_job_descriptions

# Embedding
EMBEDDING_MODEL=all-MiniLM-L6-v2
CHUNK_SIZE=400
CHUNK_OVERLAP=75
JD_CHUNK_SIZE=500
JD_CHUNK_OVERLAP=75

# API
API_HOST=0.0.0.0
API_PORT=8000

OPENAI_API_KEY=sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX